<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/classManage.css"/>
    <title></title>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="scrollbar">
<div class="container-fluid"><!--最外层-->
    <div class="row">
        <div class="col-lg-12 titleDiv">
            <p class="crumbs">活动管理</p>
            <!--粉色的添加按钮-->
            <div class="addBtn" data-toggle="modal" data-target="#myModal11">
                <button class="btn btnplus" id="addClass">
                    <span class="glyphicon glyphicon-plus"></span>
                </button><span class="addTxt">添加活动</span>
            </div>
        </div>
    </div>
    <div class="row contantBox">
        <!--装内容的Box-->
        <div class="col-lg-12">
            <!--=============装查询===============-->
            <div class="row border3">
                <div class="col-lg-12 txtSearch">
                    <!--<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 que">-->
                        <!--活动编号 <input type="text" class="txtBox" id="queryNo"/>&lt;!&ndash; classNoQue&ndash;&gt;-->
                    <!--</div>-->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 que">
                        活动名称 <input type="text" class="txtBox" id="queryName"/><!-- classNameQue-->
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 que">
                        发起人 <input type="text" class="txtBox" id="queryHoster"/><!-- projectManagerQue-->
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 que" style="display: none;">
                        &ensp;&ensp;创建人 <input type="text" class="txtBox" id="queryCreateUser" /><!-- classTeacherQue-->
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 que">
                        &ensp;&ensp;状态
                        <select name=""  id="queryState">
                            <option value=""></option>
                            <option value="0">禁用</option>
                            <option value="1">启用</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 pull-right">
                        <button class="btn btnsave" id="searchBtn">查询</button>
                    </div>
                </div>
            </div>
            <!--=================装表格==================-->
            <div class="row border1">
                <div class="col-lg-12">
                    <div class="table-responsive scrollbar">
                        <table class="table border">
                            <tr>
                                <th>活动编号</th>
                                <th>活动名称</th>
                                <th>活动发起人</th>
                                <th>环境</th>
                                <th>总人数</th>
                                <th>参与人数</th>
                                <th>创建人</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            <tbody id="tbody">
                            <% for(var i=0;i<data.length;i++){%>
                            <tr>
                                <td><%=data[i].id %></td>
                                <td><%=data[i].name %></td>
                                <td><%=data[i].hoster %></td>
                                <td>
                                    <%if(data[i].outorin==1){%>
                                    室外
                                    <%}else{%>
                                    室内
                                    <%}%>
                                </td>
                                <td><%=data[i].totalperson %></td>
                                <td><%=data[i].totalperson %></td>
                                <td><%=data[i].userName %></td>
                                <td><%=data[i].createtime %></td>
                                <td>
                                    <%if(data[i].state==1){%>
                                    启用
                                    <%}else{%>
                                    禁用
                                    <%}%>
                                </td>
                                <td>
                                    <button class='iconfont btn btnsubmit update btn-info' myid='<%=data[i].id %>' data-toggle='modal' data-target='#myModal0' >修改</button>


                                    <%if (data[i].state==1){%>
                                    <button type="button" class="btn delBtn btn-danger" stateCode="<%=data[i].state%>" myid='<%=data[i].id %>'>禁用</button>
                                    <%}else{%>
                                    <button type="button" class="btn delBtn btn-success" stateCode="<%=data[i].state%>" myid='<%=data[i].id %>'>启用</button>
                                    <%}%>
                                </td>
                            </tr>
                            <%}%>
                            </tbody>

                        </table>
                    </div>
                    <!--页脚的分页-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="">
                                <a  aria-label="Previous" id="prev">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li id="pageNum">
                                <!--<a>1</a>-->
                            </li>
                            <li class="">
                                <a  aria-label="Next" id="next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 确认操作模态框（Modal） -->
<div class="modal fade"
     id="myModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="modal-header modal0">
                <!--关闭窗口的××-->
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <!--提示信息-->
                <h4 class="modal-title" id="myModalLabel">
                    确认此操作吗？
                </h4>
            </div>
            <div class="modal-footer">
                <!--确认按钮-->
                <button type="button" class="btnconfirm okBtn" data-toggle="modal" data-target="#myModal2"  data-dismiss="modal"
                        aria-hidden="true">
                    确定
                </button>
                <!--取消按钮-->
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
<!--=====================修改模态框=======================-->
<div class="modal fade bs-example-modal-lg" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">编辑</h4>
            </div>
            <div class="modal-body">
                <div class="row borderLine">
                    <div class="row">
                        <div class="col-lg-12 h2">活动基本信息</div>
                        <div class="col-lg-12 classCreateInfo">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动环境
                                    <select name="" class="txtBox" id="activityDoor">
                                        <option value="0">室内</option>
                                        <option value="1">室外</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动名称 <input type="text" class="txtBox" id="activityName"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动状态
                                    <select name="" class="txtBox" id="activityState">
                                        <option value="1">启用</option>
                                        <option value="0">禁用</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动人数
                                    <input type="text" class="txtBox" id="activityTotal"/>
                                    <!--<input type="text" class="txtBox" id="classStatus"/>-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    创建人 <input type="text" class="txtBox" id="createUser" disabled/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动发起人 <input type="text" class="txtBox" id="activityhoster"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                活动介绍 <input type="text" class="txtBox" id="activityDes"/>
                            </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动图片 <input type="text" class="txtBox" id="activityImg"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    活动地址 <input type="text" class="txtBox" id="activityAddress"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listItem col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="message"></p>
                    </div>
                    <div class="row updateBtn">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary" id="updateBtn">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================新增模态框========================-->
<div class="modal fade bs-example-modal-lg" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">新增活动</h4>
            </div>
            <div class="modal-body">
                <div class="row border4">
                    <div class="col-lg-12 h2">活动基本信息</div>
                    <div class="col-lg-12 classCreateInfo">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动名称 <input type="text" class="txtBox" id="name"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动发起人 <input type="text" class="txtBox" id="hoster"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                环境
                                <select id="door">
                                    <option value="0">室内</option>
                                    <option value="1">室外</option>
                                </select>
                                <!--<input type="text" class="txtBox" id="door"/>-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动人数 <input type="text" class="txtBox" id="totalperson"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动状态 <!--<input type="date" class="txtBox" id="classStatus"/>-->
                                <select  id="state">
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动日期 <input type="date" id="jointime"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                报名起始日 <input type="date" id="startdate"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                报名截止日 <input type="date" id="enddate"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <span id="remarkLab1">活动地址</span>
                                <input type="text" class="txtBox" id="address"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动介绍 <input type="text" class="txtBox" id="activityDes1"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                活动图片 <input type="file" class="txtBox" id="activityImg1"/>
                            </div>
                        </div>
                    </div>
                    <div class="message"></div>
                    <div class="row updateBtn">
                        <div class="col-lg-3 col-md-3"></div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 myButton">
                            <!--查询按钮-->
                            <button type="button" class="btnconfirm" id="cancel">
                                取消
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 myButton">
                            <!--查询按钮-->
                            <button type="button" class="btnconfirm saveBtn" id="saveBtn">
                                保存
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="js/ajax.js"></script>
<script src="js/activityManage.js"></script>
</body>
</html>