*{
    margin: 0;
    padding: 0;
}
/*.lie{*/
    /*outline: 1px solid red;*/
/*}*/
@font-face {
    font-family: 'iconfont';
    src: url('../bootstrap-3.3.7-dist/fonts/font_392052_jfhmcvnxuoldte29/iconfont.eot');
    src: url('../bootstrap-3.3.7-dist/fonts/font_392052_jfhmcvnxuoldte29/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../bootstrap-3.3.7-dist/fonts/font_392052_jfhmcvnxuoldte29/iconfont.woff') format('woff'),
    url('../bootstrap-3.3.7-dist/fonts/font_392052_jfhmcvnxuoldte29/iconfont.ttf') format('truetype'),
    url('../bootstrap-3.3.7-dist/fonts/font_392052_jfhmcvnxuoldte29/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
}
.row{
    margin: 0;
    padding: 0;
}
.col-lg-12,.col-lg-2{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

body{
    background-color: transparent;
}

.deleteData:hover{
    cursor: pointer;
}

/*滚动条部分*/
.scrollbar::-webkit-scrollbar{
    width:8px;
    height:8px;
}
.scrollbar::-webkit-scrollbar-button{
    width:8px;
    height:8px;
}
.scrollbar::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 4px;

}
.scrollbar::-webkit-scrollbar-track-piece {
    background: transparent;
    border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-thumb       {
    background:rgba(221,237,224,1);
    border-radius:4px;
}
.scrollbar::-webkit-scrollbar-corner      {
    background:transparent;
}

/*表格部分*/
tr:first-child{
    height: 40px;
}


/*===========�����==============*/
.container-fluid{
    width: 100%;
    height:100%;
    /*background-image: url("../img/bg.jpg");*/
    /*background-size:100%;*/
    /*background-position: center;*/
    padding:2%;
}

/*===================���=========================
����������֮��ļ��3%*/
/*.mainBox{*/
    /*/!*width: 96%;*!/*/
    /*height: 96%;*/
    /*background-color: orangered;*/
    /*position: relative;*/
    /*padding:2%;*/
/*}*/
.border{
    /*height: 80px;*/
    border-radius: 10px;
    background-color:  #eef9f0;
}
.stuGurautee{
    padding-bottom: 12px;
}
/*=================�����Ͳ�ѯ===================*/

/*��ѯ��ť*/

#myModalOk{
    width: 50%;
}
.btn-default{
    background-color: white;
    padding: 10px 35px;
    border-radius: 5px;
    cursor:pointer;
    color:#776680;
    border-color:#DEE5E7;
}

.btnconfirm{
    color: white;
    background-color:#F0BCB4;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    margin-top: -10px;
    border-style:none;
}
.btnconfirm:hover{
    background-color: #FA9FA4;
    cursor: pointer;
}
/*��ɫ����Ӱ�ť*/
.btnplus{
    height:40px;
    width: 40px;
    border-style: none;
    border-radius: 50%;
    background-color: #F0BCB4;
}

.glyphicon-plus{
    color: white;
}
.btnplus:hover{
    background-color:#FA9FA4;
}
/*.btnsearch{*/
    /*margin-right: 15px;*/
/*}*/
.myButton{
    padding: 15px 0 0 0;
}
/*===============ѧ��=============*/
.txtSpan span{
    margin-right: 20px;
}
.txtSpan input{
  margin-left: 10px;
}
/*============���Box======================*/
.border1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #eef9f0;
    padding: 2%;
    margin-top: 2%;
}
.table{
    /*height: 450px;*/
    background-color: #fff;
    border-radius: 10px;
    margin:0;
}
tr{
    /*height: 47px;*/
    /////////////////////////////////////////////////////////////////////////////
}
th{
    background-color: #ddede0;
    text-align: center;
}
.table>tbody>tr>th{
    vertical-align: middle;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
/*======================����=======================*/
.contantBox{
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0);
    /*padding: 2%;*/
}
/*===================���м===========*/
.crumbs{
    font-size: 20px;
    line-height: 32px;
    /*border-top-left-radius:10px;*/
    /*border-top-right-radius:10px;*/
    /*background-color: #ddede0;*/
    /*padding:0 3%;*/
    text-align: left;
    color: #286090;
}

.txtBox{
    height:28px;
    margin: 10px 0;
    width: 100px;
    border: none;
}
.txtSearch{
    padding: 15px;
}
/*=================�������===============*/
.pagination{
    margin-top: 2%;
    margin-bottom:0;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>span,  .pagination>.active>span:hover{
    background-color: #FA9FA4;
    border-color:snow;
    /*background-color: rgba(255,255,255,0);*/
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding:6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color:#FA9FA4;
    text-decoration: none;
    border: 1px solid #F0BCB4;
    /*border: none;*/
}
.pagination>li>a:hover{
    color:white;
    /*background-color: rgba(255,255,255,0);*/
    border-color: inherit;
}
/*��ɫ�ĵ�����ť*/
.btnexport{
    height:40px;
    width: 40px;
    /*outline: 1px solid red;*/
    border-style: none;
    border-radius: 50%;
    background-color:#AD729D;
    margin: 10px 0;
}
.glyphicon-export{
    color: white;
}
.btnexport:hover{
    background-color:#8B5C7E;
}
/*=================�ϴ���ģ̬��=================*/
.modal-dialog{
    width:60%;
    height:85%;
}
.modal-content{
    width:100%;
    height:100%;
    /*background-color: white;*/
}
.modal-header {
    margin: 0 -15px;
    padding: 10px 0;
    background-color: #ddede0;
    /* border-bottom: 1px solid #e5e5e5; */
}
.modal-body {
    /*margin: 0 -15px;*/
    width: 95%;
    height: 76%;
    margin-left: 10px;
    margin-top: 30px;
    border: 2px dashed #e5e5e5;
    /* border-bottom: 1px solid #e5e5e5; */
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}
/*================����=============*/
.modal-title>span{
    padding: 0 15px;
}
.modal-header>button{
    padding: 0 15px;
}
/*===============���===============*/
.largeBorder{
    /*margin-top: 15px;*/
    width: 95%;
    margin-left:15px;
}
.mytable{
    background-color:#ddede0 ;
    border-radius: 10px;
    margin-top: -5px;
}
.lhcrubs{
    text-align: left;
}
.txtBox1{
    height:20px;
    /*margin: 10px 0;*/
    width: 80px;
    border: none;
}
.txtBbox1{
    width: 440px;
    height: 85px;
    border: none;
}

.txtBox2{
    height:50px;
    width: 80%;
    border: none;
}

.mytable>tbody>tr>td>span{
    padding: 0 25px 0 0;
}
/*===================�޸İ�ť==================*/
/*��ť*/
#btnInsert{
     color: white;
    margin: 10px 0;
     background-color:#F0BCB4;
     width: 85px;
     height: 30px;
     border-radius: 5px;
     /*margin-right: 80px;*/
     border-style:none;
 }
/*================ȡ����ť=================*/
#btnCancel{
    color: white;
    margin: 10px 0;
    background-color:#F0BCB4;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    /*margin-right: 190px;*/
    border-style:none;
}

.btnGroup{
    text-align: center;

    height: 3px;
}

.listBlock{
    padding: 10px 5px;
    background-color:#ddede0 ;
}

.listItem{
    padding: 0;
    margin: 10px 0;
}

.listItem label{
    width: 80px;
}

.modal-content{
    height:auto;
    padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    th{
        min-width: 80px;
    }
    .modal-content{
        height:auto;
        width: 100%;
    }
}


.modal3{
    width:40%;
    height:40%;
    padding-top:10%;
}
.myImport{
    padding: 8%;
    background-color: white;
    border-radius: 5px;
}

.glyphicon-ok-circle{
    color:#FA9FA4;
    font-size: 20px;
}
/*!*================删除模态框===============*!*/
.modal0{
    padding: 10%;
    border-style: none;
    background-color: white;
    border-bottom:0;
}

.okBtn{
    width: 100px;
    height: 42px;
}




